!!! 5
%html
	%head
		%meta(charset='utf-8')
		%title 3J Stats
		%link(rel='stylesheet' href='/style.css')
		%link(rel='stylesheet' href='/meta.css')
	%body#stats
		%table
			%caption Server Overview
			<tr><td>Database has <b>#{commas @stats[:songs]}</b> songs (#{commas @stats[:artists]} artist#{:s unless @stats[:artists]==1}) totaling <b>#{duration @stats[:db_playtime]}</b> of play time</td></tr>
			<tr><td>Server has been up for <b>#{duration @stats[:uptime]}</b> and played <b>#{duration @stats[:playtime]}</b> of music</td></tr>

		%table#users
			%caption User Stats
			%thead
				%tr
					%th user
					%th(colspan='2') library
					%th played
					%th skipped
					%th.icon.hate
					%th.icon.bleh
					%th.icon.like
					%th.icon.love
			%tbody
				- @user_stats.sort_by(&:first).each do |user,stats|
					%tr
						%th= user
						%td.libsong #{commas stats[:own_songs], '0'} songs
						%td.libtime #{duration stats[:song_time]}
						%td #{commas stats[:play_count]}
						%td #{commas stats[:skip_count]}
						%td #{commas stats['hate']}
						%td #{commas stats['bleh']}
						%td #{commas stats['like']}
						%td #{commas stats['love']}

		%table#extremes
			%caption Voting Extremes
			%thead
				%tr
					%th.user user
					%th.title title
					%th.artist artist
					%th.icon.hate
					%th.icon.bleh
					%th.icon.like
					%th.icon.love
			- songs_seen = {}
			- top = @songs_by_rating[0..20]
			- mid = @contested_songs[0..20]
			- bot = @songs_by_rating.reverse[0..20].reverse
			- [top,mid,bot].each do |songs_and_ratings|
				%tbody
					- songs_and_ratings.each do |song,ratings|
						- unless songs_seen[song]
							- songs_seen[song] = 1
							%tr
								%th= song.file[%r{[^/]+}]
								- if song.title
									%td.title= song.title
									%td.artist= song.artist || '-'
								- else
									%td.title(colspan=2)= song.file
								%td #{commas ratings['hate']}
								%td #{commas ratings['bleh']}
								%td #{commas ratings['like']}
								%td #{commas ratings['love']}

		%table#played
			%caption Most Played
			%thead
				%tr
					%th plays
					%th.title title
					%th.artist artist
			%tbody
				- @most_played.each do |song,count|
					%tr
						%td= count
						- song=song.file if MPD::Song===song && !song.title
						- if MPD::Song===song
							%td.title= song.title || song.file
							%td.artist= song.artist
						- else
							%td.title(colspan=2)= song

		%table#skipped
			%caption Most Skipped
			%thead
				%tr
					%th skips
					%th.title title
					%th.artist artist
			%tbody
				- @most_skipped.each do |song,count|
					%tr
						%td= count
						- song=song.file if MPD::Song===song && !song.title
						- if MPD::Song===song
							%td.title= song.title
							%td.artist= song.artist
						- else
							%td.title(colspan=2)= song

		- if @dups
			%table#dups
				%caption #{@dups.length} Possible Duplicates
				- @dups.each do |sig,dups|
					%tbody
						- dups.each do |song|
							%tr
								%td.title{title:song.title}= song.title
								%td.artist{title:song.artist}= song.artist
								%td.length= song.length
								%td.uri{title:song.file}= song.file
